
<div class="m-scene centerMe" id="main">
  <div class="m-right-panel m-page scene_element scene_element--fadeinup">


<div class = "centerMe">
<h1> Welcome, {{user.username}}</h1>

Feeling hungry?
</div>
{{!-- end fade in --}}


{{#if activePizzaBoxes}}

  <h3>There are PizzaBoxes up for grabs!</h3>

  </div>
    {{#each activePizzaBoxes}}
<div class="card centerMe mx-auto m-right-panel m-page scene_element scene_element--fadeinup" style="width: 20rem;">
  <h4 class="card-title">{{this.pizzaname}}</h4>
  <img class="card-img-top img-responsive mx-auto" src="{{this.imgsrc}}" alt="Card image cap">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Where it's from: {{this.store}}</h6>
    <p class="card-text">"{{this.description}}"</p>
        <p class="card-text">"${{this.price}}.00"</p>

    <p class="card-text">{{this.pizzaboxer.username}}</p>

    <button onclick="myFunction()" id ="buyButton" class = "btn btn-success">Buy this PizzaBox</button>
    <script>
function myFunction() {
 alert( "This is where you would confirm the sale and your card would get charged! To post your own pizzaboxes, you can register as a restaurant. Yay pizza!" );}
</script>


    </div>

  </div>  
    {{/each}}





{{/if}}

<div>
  {{!-- end fade up --}}



<div class= "barrier">
</div>
</div>
  {{!-- end mscene --}}