



<div class = "centerMe">
<h1> Welcome, {{user.username}}</h1>

Feeling hungry?

{{#if activePizzaBoxes}}

  <h3>There are PizzaBoxes up for grabs!</h3>

  </div>
    {{#each activePizzaBoxes}}
<div class="card centerMe mx-auto" style="width: 20rem;">
  <h4 class="card-title">{{this.pizzaname}}</h4>
  <img class="card-img-top img-responsive mx-auto" src="{{this.imgsrc}}" alt="Card image cap">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Where it's from: {{this.store}}</h6>
    <p class="card-text">"{{this.description}}"</p>
        <p class="card-text">"${{this.price}}.00"</p>

    <p class="card-text">{{this.pizzaboxer.username}}</p>

    <button class = "btn btn-success">Buy this PizzaBox</button>
    </div>

  </div>  
    {{/each}}






{{/if}}





<div class= "barrier">
</div>