<div class="m-scene centerMe" id="main">
  <div class="m-right-panel m-page scene_element scene_element--fadeinup">
<h1> PizzaBox Checkout</h1>

<h3>DO NOT PUT YOUR REAL CARD INFO IN.<h3>
<h3>Use the test card 4242 4242 4242 4242<h3>
<h4>You can put whatever information for the rest, as long as the expiration date is in the future</h4>


<h2>{{user.username}}, you are buying the pizzabox below:<h2>


<div class="card mx-auto" style="width: 20rem;">
  <h4 class="card-title">{{pizzabox.pizzaname}}</h4>
  <img class="card-img-top img-responsive mx-auto" src="{{pizzabox.imgsrc}}" alt="Card image cap">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Where it's from: {{pizzabox.store}}</h6>
    <span class="card-text">"{{pizzabox.description}}"</span>
        <p class="card-text">"${{pizzabox.price}}.00"</p>
    {{!-- <p class="card-text">{{pizzabox.pizzaboxer}}</p> --}}

 <form action = "/charge" method ="post">




  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_ZW97iPv3XA8PotQwk2B4QMEF"
    data-amount={{pizzabox.price}}00
    data-name="{{pizzabox.pizzaname}}"
    data-description="Example Charge - Not for real"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto">
    data-currency = "usd"
    data-zip-code="true"
  </script>
  {{!-- Safeguard against frontend price hacking via console below --}}
    <input type = "hidden" name = "chargeAmount" value = {{pizzabox.price}}00>



  

</form>
  </div>
</div>
</div>
</div>


