<div class = "centerMe">

<h1> PizzaBox Checkout</h1>

<h2>{{user.username}}, you are buying the pizzabox below:<h2>


{{!-- <div class="card centerMe mx-auto m-right-panel m-page scene_element scene_element--fadeinup" style="width: 20rem;">
  <h4 class="card-title">{{this.pizzaname}}</h4>
  <img class="card-img-top img-responsive mx-auto" src="{{this.imgsrc}}" alt="Card image cap">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Where it's from: {{this.store}}</h6>
    <p class="card-text">"{{this.description}}"</p>
        <p class="card-text">"${{this.price}}.00"</p> --}}


<h2>{{pizzaboxId}}</h2>
<h2>{{pizzaboxImg}}</h2>
<h2>{{pizzaboxStore}}</h2>
<h2>{{pizzaboxName}}</h2>
<h2>"{{pizzaboxDescription}}"</h2>
<h2>{{pizzaboxPrice}}</h2>
<h2>{{pizzaboxer}}</h2>





