<div class = "m-scene" id="main">
  <div class="m-page scene_element scene_element--fadeinup">


<h1>Edit Pizza Box</h1>

<form action = "/myPizzaBoxes/update" method = "post">


<div class="form-group">
<label class="bmd-label-floating" for ="storetitle">Pizza Shop Name</label>
<input type = "text" id = "storetitle" class="form-control" value = "{{pizzabox.store}}" name = "store">
</div>

<div class="form-group">
<label class="bmd-label-floating" for = "imagesource">Upload an Image</label>
<input type = "text" id = "imagesource" class="form-control" value = "{{pizzabox.imgsrc}}" name = "imgsrc">
</div>


<div class="form-group">
<label class="bmd-label-floating" for = "pizzatitle">Pizza Name</label>
<input type = "text" class="form-control" id = "pizzatitle" value = "{{pizzabox.pizzaname}}" name = "pizzaname">
</div>


<div class="form-group">
    <label for = "pizzaprice" class="bmd-label-floating">$ Price</label>
    <input type = "number" id = "pizzaprice" value = {{pizzabox.price}} min="0" class="form-control"name = "price">
 </div>
<br>
<div class="form-group">
<label for = "description">Description</label>
<textarea class="form-control" cols= '40' rows= '10'id = "description" name = "description">{{pizzabox.description}}</textarea>
</div>



<input type = "hidden" id = "origin" value = "{{pizzabox.originlocation}}" name = "originlocation">



<input type = "hidden" id = "target" value = "{{pizzabox.targetlocation}}" name = "targetlocation">



{{!--Pizza Box id --}}
<input type = 'hidden' value = {{pizzabox._id}} name = "pizzaboxid">


{{!-- Pizza boxer: id of the person creating it. --}}
<input type = 'hidden' value = {{user.id}} name = "userId">



{{!-- The purchased by will be an update based on the person who buys it later on. --}}
<input type = 'hidden' value = 'null' name = "purchasedby">





<input type = 'hidden' value = {{pizzabox.status}} name = "status">


<button class = "btn btn-primary">Publish the Changes</button>
</form>

{{#if errorMessage }}
    <div class="theError"><p>{{ errorMessage }}</p></div>
{{/if}}

  </div>
  {{!-- end fadeup --}}
</div>
{{!-- end mscene --}}