<div class= "centerMe">
<h1>Hi there, {{user.username}}</h1>
<h2>Here are your pizza boxes</h2>

<a class = "btn btn-primary" href ="/newPizzaBox">Add a new PizzaBox</a>

</div>





{{#each myPizzaBoxes}}
{{!-- Change the THIS to a card containing the store, image, pizza name, and time left --}}


<div class="card centerMe mx-auto" style="width: 20rem;">
  <h4 class="card-title">{{this.pizzaname}}</h4>
  <img class="card-img-top img-responsive mx-auto" src="{{this.imgsrc}}" alt="Card image cap">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Where it's from: {{this.store}}</h6>
    <p class="card-text">"{{this.description}}"</p>
        <p class="card-text">"${{this.price}}.00"</p>

    <p class="card-text">{{this.pizzaboxer.username}}</p>

<form action = "/myPizzaBoxes/edit" method = "post">
    <input type = "hidden" value ="{{this._id}}" name ="id">
    <button class= "btn btn-primary">Edit this PizzaBox</button>
  </form>

  <form action = "/myPizzaBoxes/delete" method = "post">
    <input type = "hidden" value ="{{this._id}}" name ="deadPizzaBoxId">
    <button class = "btn btn-danger">Delete this PizzaBox</button>
  </form>
  </div>
 




</div>












  




  {{/each}}
     
<div class= "barrier">
  </div>
  